<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="DEFAULT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="DEFAULT_CONSOLE"/>
    </root>

    <!-- Apply only when CLI profile is active -->
    <springProfile name="cli">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!-- Highlight LEVEL in color, then print message -->
                <pattern>%highlight(%-5level) %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CLI_STDOUT"/>
        </root>
    </springProfile>
</configuration>
